/** Write your CSS in here **/
body {
    font-family: Arial, sans-serif;
    background-color: #605f5f;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #4DD0E1;
    text-align: center;
}

#quote-box {
    background-color: #222121;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 250px;
    position: relative;
}
#quote {
    font-size: 24px;
    color: #ffffff;
}
#author {
    font-size: 20px;
    color: #cccccc;
    text-align: right;
}
#new-quote {
    background-color: #4DD0E1;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px;
}